/***********************************************
Table of Contents:

1. global styles

2. clock styles

3. slider styles

4 background styles
***********************************************/

/****************************
1. global styles
****************************/

:root {
    --accent-colour: #FD4949;
    --clock-font-size: calc(8rem + 6vw);
}

* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content {
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

/****************************
2. clock styles
****************************/
#clock {
    font-size: var(--clock-font-size);
    margin: 1rem;
    user-select: none;
}

/****************************
3. slider styles
****************************/
.switch {
    position: fixed;
    bottom: 12px;
    left: 12px;
    width: 60px;
    height: 30px;
    text-align: center;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    font-size: 12px;
    color: rgba(0, 0, 0, .3);
    user-select:none;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 5px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: var(--accent-colour);
  }
  input:focus + .slider {
    box-shadow: 0 0 1px var(--accent-colour);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
/****************************
4. background styles
****************************/



  
